<!DOCTYPE HTML>
<html lang="en" translate="no">

  <head>
    <meta charset="utf-8" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="HackDotslash5.0" />
    <meta property="og:title" content="Dotslash Hackathon: Root To Ideas" />
    <meta
      property="og:description"
      content="DotSlash​ is a 30 hours long hackathon which is completely managed by students of SVNIT, Surat. It is a
										platform for developers around the world to use their innovative skills to produce something new and
										useful for the society."
    />
    <meta
      name="Description"
      content="DotSlash​ is a 30 hours long hackathon which is completely managed by students of SVNIT, Surat. It is a
														platform for developers around the world to use their innovative skills to produce something new and
														useful for the society."
    />
    <meta property="og:image:secure_url" content="/img/logo_only.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:url" content="https://www.hackdotslash.co.in" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>DotSlash</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo_only1.png" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800i|Amaranth:700i|Kanit:700i|Lato:900i|Lato|Source+Sans+Pro:900i"
      rel="stylesheet"
    />

    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/owl.theme.default.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/meteor.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="./css/herostyles.css" />
    <link rel="stylesheet" href="./css/background.css" />
    <link rel="stylesheet" href="./css/timeline.css" />

    <link rel="stylesheet" href="./css/animated.min.css" />
  </head>

  <body>
    <div style="overflow-x: hidden;">
      <!-- Hero -->
      <div class="hero" id="home">
        <div class="hero__background">
          <div id="stars"></div>
          <div id="stars2"></div>
          <div id="stars3"></div>
          <div class="meteor-1"></div>
          <div class="meteor-2"></div>
          <div class="meteor-3"></div>
          <div class="meteor-4"></div>
          <div class="meteor-5"></div>
          <div class="meteor-6"></div>
          <div class="meteor-7"></div>
          <div class="meteor-8"></div>
          <div class="meteor-9"></div>
          <div class="meteor-10"></div>
          <div class="meteor-11"></div>
          <div class="meteor-12"></div>
          <div class="meteor-13"></div>
          <div class="meteor-14"></div>
          <div class="meteor-15"></div>
        </div>
        <!-- Header -->
        <header id="header" class="transparent-navbar">
          <!-- container -->
          <div class="container">
            <!-- navbar header -->
            <div class="navbar-header">
              <!-- Logo -->
              <div class="navbar-brand">
                <a class="logo" href="#home">
                  <img
                    class="logo-alt-img"
                    src="./img/2022/new_logo.png"
                    alt="logo"
                    style="max-height: 55px;"
                  />
                   <img
                    class="logo-img"
                    src="./img/2022/new_logo.png"
                    alt="logo"
                    style="max-height: 55px;"
                  />

                </a>
              </div>
              <!-- /Logo -->

              <!-- Mobile toggle -->
              <button class="navbar-toggle">
              <svg class="menu-icon"fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z"/></svg>

              </button>
              <!-- /Mobile toggle -->
            </div>
            <!-- /navbar header -->

            <!-- Navigation -->
            <nav id="nav">
              <ul class="main-nav nav navbar-nav navbar-right">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                {{!-- <li><a href="#schedule">Schedule</a></li> --}}
                <li><a href="#sponsors">Sponsors</a></li>
                <li><a href="#faq">FAQs</a></li>
                <li><a href="#contact">Contact</a></li>

              </ul>
            </nav>
            <!-- /Navigation -->
          </div>
          <!-- /container -->
        </header>
        <div class="hero__content">
          <div class="row">
            <div class="hero__content__details">
              <div class="hackathon__details">
                <h1 class="hackathon__details__title"><span>Dot</span><span
                  >Slash</span><span> 5.0</span></h1>
                <div class="hackathon__details__discription">
                  <div>Root to ideas</div>
                </div>

              </div>
              <div class="countdown__wrapper">
                {{! <p>
                Hackathon starts in
              </p> }}
                <div id="timer" class="countdown"></div>
              </div>
              
               <div class="hero__content__banner_slogan">
                <div>
                  <h2 ><span>7<sup>th</sup> - 9<sup>th</sup></span>Jan 2022</h2>
                </div>
              </div>
            {{!-- <form class="notify-me" action="/api/email" method="POST">
              <div class="registration__details" style="margin-top: 30px;">
                <input type="email" name="email" id="user-email" placeholder="Enter your email" >
                <input type="submit" id="notify-btn" value="Notify Me">
              </div>
            </form> --}}
              
                


              <div class="registration__details" style="margin-top: 30px;">
                <div 
                class="apply-button" 
                data-hackathon-slug="dotslash-1" 
                data-button-theme="light"
                style="height: 44px; width: 312px;"
              >
              </div>
              <button class="blue-button" style="margin-left: 10px;">
                <a class="discord_container"target="_blank" rel="noopener noreferrer" href="https://discord.gg/WvPdAbv5tP">
                <img class="discord_desktop" src="img/2022/discord.png" style="height: 30px;">
                </a>
              </button>
              <button class="blue-button-mobile" style="background: white; margin-left: 10px;">
                 <a class="discord_mobile" target="_blank" rel="noopener noreferrer" href="https://discord.gg/WvPdAbv5tP">
                <img src="img/2022/discord_mobile.jpeg" style="height: 30px;">
                </a>
              </button>
              </div>
           
            </div>
            <div class="hero__content__banner">
              <div class="chat">
                <div class="header chat__header">
                  <div class="header__title">Dotslash Server</div>
                  <div class="header__members">
                    <div class="header__member"></div>
                    <div class="header_member header_member--server"></div>
                  </div>
                </div>
                <div class="message message--browser">
                  <div class="message__content">Hey Server</div>
                </div>
                <div class="message message--server">
                  <div class="message__content">Hey Folk 👋</div>
                </div>
                <div class="message message--browser">
                  <div class="message__content">What is the date of hackathon?</div>
                </div>
                <div class="message message--server">
                  <div class="message__content">7<sup>th</sup> - 9<sup>th</sup>Jan 2022</div>
                </div>
                <div class="message message--browser">
                  <div class="message__content">OK</div>
                </div>
                <div class="message message--browser">
                  <div class="message__content">What is the mode of conduct?</div>
                </div>
                <div class="message message--server">
                  <div class="message__content">Online</div>
                </div>
                <div class="message message--server">
                  <div class="message__content">Anything else??</div>
                </div>
                <div class="message message--server">
                  <div class="message__content">You still there??</div>
                </div>
                <div class="message message--left">
                  <div class="message__content">Server left the chat</div>
                </div>
                <div class="message message--typing message--browser">
                  <div class="message__content">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- /Hero -->


      <div class="container tracks section">
        <br /><br />
        <div class="row">
          <div class="col-xs-12">
            <div class="section-title">
              <h3 class="title"><span style="color: white">About &nbsp;</span><span
                > Dotslash</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-8 col-md-offset-2">
            <div class="row" style="text-align:center">
              <img
                src="img/soft.svg"
                alt=""
                style="margin: 0 auto; width: auto;"
              />
            </div>
            <div class="row text-center" style="margin: auto 20px;">
              <p style="font-size: 17px;">DotSlash​ 5.0 is a 36 hours long hackathon which is completely
                  managed by students of SVNIT, Surat. It is a platform for
                  developers around the world to use their innovative skills to
                  produce something new and useful for the society.
              </p>
              <p style="font-size: 17px;">Explore the realms of Web and Mobile based applications while
                developing your ideas. You are free to use any framework and any
                code fragment, until and unless it is open sourced.</p>
              <p style="font-size: 17px;">
                The limits are endless and the possiblities are infinite.
              </p>
              <b style="color:  #bd0c0e; font-size: 17px;">Problem Statements will be provided at
                the time of The Event.</b>
            </div>
            <br />
            <br />
          </div>
          {{! <div class="col-xs-6">
          <h2 style="color: #bd0c0e">Hardware</h2>
          <img src="img/hardware.png" class="img-responsive" alt="" style="margin: 0 auto; width: auto;">
          <p style="margin-bottom:5px;">Want to develop your ideas to interact with the physical world? Under this track
            you can use any microcontroller or microprocessor with any interfacing peripheral to achieve your goal.
            <br>If you have some special hardware requirements, we request you to bring those alongwith.
            <br><b style="color:  #bd0c0e;">The track will contain problem statements.</b>
          </p>
        </div> }}
          <br />
        </div>
      </div>

      
      <!-- Supported By -->
      <div id="about" class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <!-- section title -->
            <div class="section-title">
              <h3 class="title"><span style="color: white">Supported &nbsp;</span><span style="color: #bd0c0e;"
                > by</span></h3>
            </div>
            <!-- /section title -->


          <div id="sponsorChallenges" >
            <div class="container">
              <div class="row">
                <center>
                  <div class="flip" style="max-width: 700px;">
                    <div class="front content text-center"
                      style="background: radial-gradient(ellipse at bottom, #030119 0%, #00172c 100%);">
                      <a href="https://www.svnit.ac.in/">
                        <img
                        src="./img/svnit.png"
                        alt="logo"
                        style="height:120px;width:120px;border-radius:50%; margin-bottom: 30px"
                      />
                      </a>
                      <p>
                        Sardar Vallabhbhai National Institute of Technology, Surat is a leading technical Institute not only at national level but also at International level for imparting training to students as per the needs of technology. It is also envisaged to provide the necessary infrastructure to take up research work and to provide the mechanism to interact with industries effectively.
                      </p>
                    </div>
                  </div>
                </center>
                
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 flip">
                  <div class="front content text-center"
                    style="background: radial-gradient(ellipse at bottom, #030119 0%, #00172c 100%);">
                    <a href="http://ashine.in/">
                      <img
                        src="./img/ashine.png"
                        alt="logo"
                        style="height:120px;width:120px;border-radius:50%;  margin-bottom: 30px"
                      />
                    </a>
                    <p>
                      ASHINE is a Technology Business Incubator located at the centre of Sardar Vallabhbhai National Institute of Technology (SVNIT), Surat spread across 250 acres of lush-green campus having all the modern educational and recreational facilities for students. With an infrastructure that can support 30+ tech and non-tech startups and 200 startup enthusiasts from across the nation.
                    </p>
                  </div>
                </div>

                {{!-- <div class="col-md-6 col-sm-6 col-xs-12 flip">
                  <div class="front content text-center"
                    style="background: radial-gradient(ellipse at bottom, #030119 0%, #00172c 100%);">
                    <a href="http://www.ssipgujarat.in/">
                      <img
                        src="./img/ssip_logo.png"
                        alt="logo"
                        height="80px"
                        style="margin-bottom: 40px; margin-top: 10px"
                      />
                    </a>
                    <p>
                      Government of Gujarat has developed a policy for providing assistance to Startups/ Innovation. Under this scheme, any individual/ group of individuals having innovative idea/ Concept will be eligible and/ or Universities/ education institutions, Incubation Centre/ PSUs/ R&D Institutions/ Private and other establishments will be eligible as an institution to support and mentor to innovators as approved by Committee. Startups in an economy's technology sectors is an important indicator of technological performance for several reasons.
                    </p>
                  </div>
                </div> --}}
                <div class="col-md-6 col-sm-6 col-xs-12 flip">
                  <div class="front content text-center"
                    style="background: radial-gradient(ellipse at bottom, #030119 0%, #00172c 100%);">
                    <a href="https://nitsurat.acm.org/">
                      <img
                        src="./img/acm_logo.png"
                        alt="logo"
                        style="height:120px;width:120px;border-radius:50%;  margin-bottom: 30px"
                      />
                    </a>
                    <p>
                      ACM NIT Surat is a student chapter highly focused on planning and organizing events for coding, development, design etc. Founded in 2005, the chapter has been a centre for various learning, fun, and productive activities. Be it coding challenges, hackathons, quizzes, or application development, the activities of the chapter are widely acknowledged in the institute and keenly looked for. 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          </div>
          <!-- row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /Supported by -->



      <!-- Galery -->
      <div id="galery" style="margin-top: 80px;">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">

            <div class="section-title">
              <h3 class="title"><span style="color: white;">Highlights </span></h3>
            </div>
            <!-- galery owl -->
            <div id="galery-owl" class="owl-carousel owl-theme">
              <!-- galery item -->
              <div class="galery-item">
                <img src="./img/galery/new_1.jpg" alt="" />
              </div>
              <!-- /galery item -->

              <!-- galery item -->
              <div class="galery-item">
                <img src="./img/galery/new_2.jpg" alt="" />
              </div>
              <!-- /galery item -->

              <!-- galery item -->
              <div class="galery-item">
                <img src="./img/galery/new_3.jpg" alt="" />
              </div>
              <!-- /galery item -->

              <!-- galery item -->
              <div class="galery-item">
                <img src="./img/galery/new_4.jpg" alt="" />
              </div>
              <!-- /galery item -->

              <!-- galery item -->
              <div class="galery-item">
                <img src="./img/galery/new_5.jpg" alt="" />
              </div>
              <!-- /galery item -->

              <!-- galery item -->
              <div class="galery-item">
                <img src="./img/galery/new_6.jpg" alt="" />
              </div>
              <!-- /galery item -->

              
            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_7.jpg" alt="">
            </div>
            <!-- /galery item --> 

              <!-- galery item -->
              <div class="galery-item">
                <img src="./img/galery/new_8.jpg" alt="" />
              </div>
              <!-- /galery item -->

              <!-- galery item -->
              <div class="galery-item">
                <img src="./img/galery/new_9.jpg" alt="" />
              </div>
              <!-- /galery item -->

              <!-- galery item -->
              <div class="galery-item">
                <img src="./img/galery/new_10.jpg" alt="" />
              </div>
              <!-- /galery item -->

              <!-- galery item -->
              <div class="galery-item">
                <img src="./img/galery/new_11.jpg" alt="" />
              </div>
              <!-- /galery item -->

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_12.jpg" alt="">
            </div>
            <!-- /galery item --> 

              <!-- galery item -->
              <div class="galery-item">
                <img src="./img/galery/new_13.jpg" alt="" />
              </div>
              <!-- /galery item -->

            </div>
            <!-- /galery owl -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /Galery -->


      {{!-- <div id="schedule" class="section" style="margin-top: 80px; color:#a5b3cf;">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <!-- section title -->
            <div class="section-title">
              <h3 class="title"><span style="color: white">Schedule</span></h3>
            </div>
            <div class="timeline">
              <div class="timeline-row">
                <div class="timeline-time">1st Dec 11:59pm</div>
                <div class="timeline-content">
                  <h4>Registration Starts</h4>
                  <p >
                    Hackers can team up with maximum 3 members per team and register on our website. If you don't have a team, you can participate individually.
                  </p>
                </div>
              </div>

              <div class="timeline-row">
                <div class="timeline-time">24th Dec 11:59pm</div>
                <div class="timeline-content">
                  <h4>Problem Statements Released</h4>
                  <p >
                    Participating Teams will have to select any one of the problem
                    statements released and build their hack around it during the
                    hackathon.
                  </p>
                </div>
              </div>

              <div class="timeline-row">
                <div class="timeline-time">27th Dec - 6th Jan </div>
                <div class="timeline-content">
                  <h4>Workshop Series</h4>
                  <p>
                    Each evening we will be conducting a session by our Speakers around the tech-stacks, their products, or some other topics on startups, Mental Health, etc.
                  </p>
                </div>
              </div>

              <div class="timeline-row">
                <div class="timeline-time">6th Jan 11:59pm </div>
                <div class="timeline-content">
                  <h4>Idea Submission</h4>
                  <p>
                   Participating Teams will have to select any one of the problem statements released and submit an idea about how they are planning to go about their hack.
                  </p>
                </div>
              </div>

              <div class="timeline-row">
                <div class="timeline-time">7th Jan 8:00pm </div>
                <div class="timeline-content">
                  <h4>Top 50 Ideas Declared</h4>
                  <p>
                   The top 50 teams with original, interesting and feasible ideas will be selected and invited to build their hack during the hackathon.
                  </p>
                </div>
              </div>

              <div class="timeline-row">
                <div class="timeline-time">7th Jan 11:00pm</div>
                <div class="timeline-content">
                  <h4>Virtual Onboarding</h4>
                  <p>
                   The teams will be checked in before the main event commences. Participants are requested to make sure that their team members are present and all the prerequisites for the event are fulfilled.
                  </p>
                </div>
              </div>

              <div class="timeline-row">
                <div class="timeline-time">7th Jan 11:59pm </div>
                <div class="timeline-content">
                  <h4>Hackathon Begins</h4>
                  <p>
                    Coding time starts! The participating teams can utilize their
                    private team rooms on discord server to discuss and develop their
                    hack based on their chosen problem statement
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div> --}}
      
      <div class="tracks container section">
        <div class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Modal body text goes here.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Current-Sponsors -->
        <div id="sponsors" class="section">
          <!-- container -->
          <div class="container">
            <div class="row">
              <div class="section-title">
                <h3 class="title"><span style="color: white">Sponsors &nbsp;</span><span
                    style="color: #bd0c0e;"
                  >/ Partners</span>
                </h3>
              </div>

              <div style="display: flex;
																				flex-wrap: wrap;
																				justify-content: center;
																				align-items: center;">

              <a href="https://www.github.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/sponsors/github_logo.png" alt="">
              </a>
              <a href="https://devfolio.co" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/sponsors/devfolio.png" alt="">
              </a>
              <a href="https://polygon.technology/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/sponsors/polygon.png" alt="">
              </a>
              <a href="https://tezos.com" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/sponsors/tezos.png" alt="">
              </a>
              <a href="https://celo.org " target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/sponsors/celo.png" alt="">
              </a>
              <a href="https://filecoin.io" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/sponsors/filecoin.png" alt="">
              </a>
              <a href="https://replit.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/sponsors/replit.png" alt="">
              </a>
              <a href="https://rosenfeldmedia.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/sponsors/rosenfeld.png" alt="">
              </a>
              <a href="https://balsamiq.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/sponsors/balsamiq.png" alt="">
              </a>
              <a href="https://www.sketch.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/sponsors/sketch.png" alt="">
              </a>
            </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </div>
          <!-- /Sponsors -->
        </div>


       

        <!-- become-sponsor -->
        <div id="become-sponsor" class="section" style="margin-top: 50px;">
          <svg class="dotted-line" width="1920" height="859" viewBox="0 0 1920 859" fill="none" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <style type="text/css">
                @keyframes dash 
                {
                    from 
                    {
                        stroke-dashoffset: 400;
                    }
                    to {
                        stroke-dashoffset: 0;
                    }
                }
                .path {
                    stroke-dashoffset: 0;
                    animation: dash 10s linear infinite;
                }
                #rocket
                {
                    transform: rotate(40deg);
                } 
              </style>
            </defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="#ff416c" />
                <stop offset="100%" stop-color="#ff4b2b" />
            </linearGradient>

            <path id="MotionPath_2" class="path" d="M1958.5 2C1711.67 17.5 1151.4 123.9 885 425.5C730.5 600.414 490.2 924.1 -39 844.5" stroke="url(#grad1)" stroke-width="4" stroke-dasharray="10 10"/>

            <g id="spaceship">
              <image  id="rocket" href="/img/2022/rocket.png" height="80" width="80"/>
              <animateMotion dur="6s" repeatCount="indefinite" rotate="auto" >
                  <mpath href="#MotionPath_2"/>
              </animateMotion>
            </g>
          </svg>
          
          <div class="section-title">
            <div class="container">
              <div class="row">
                <div class="section-title">
                  <h3 class="title"><span>Want to become a sponsor?</span></h3>        
                  <p>
                    <a href="https://acm-svnit.github.io/DotSlash4.0/">Click here to see our last year sponsor's  <i class="fa fa-external-link" aria-hidden="true" style="margin-left: 5px;"></i></a>
                  </p>          
                </div>
              </div>
              
              <div class="row">
                <h4>
                  Contact us at
                  <a
                    href="mailto:keshav@hackdotslash.co.in"
                  >keshav@hackdotslash.co.in</a>
                </h4>
                <a
                  href="./assets/Brochure.pdf"
                  download="Brochure"
                  class="main-btn"
                >Download Brochure</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /become-sponsor -->

        <!-- FAQS -->

        <div id="faq" class="section">
          <!-- container -->
          <div class="container">
            <!-- row -->
            <div class="row">
              <!-- section title -->
              <div
                class="section-title"
                style="display: flex; flex-wrap: wrap-reverse; flex-flow: column-reverse; align-items: center; justify-content: center;"
              >
                <div style="display: flex;">
                  <h3 class="title"><span style="color: white">Frequently Asked
                      &nbsp;</span><span
                      style="color: #bd0c0e;"
                    >Questions</span></h3>
                </div>
                <img src="img/faq.svg" alt="faq" />
              </div>
            </div>

            <div class="container">
              <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                <div class="row faqs">
                  <div
                    class="col-sm-6 col-md-6 col-lg-6 col-xs-12"
                    id="accordion"
                  >
                    <h3
                      data-parent="#accordion"
                      data-toggle="collapse"
                      class="box arrow0 questions"
                      href="#num1"
                      style="cursor: pointer; font-weight: 300; text-decoration: none; color:white"
                    >
                      <span style="vertical-align: sub"><i
                          class="material-icons prefix arrow-img0"
                        >play_arrow</i></span>Who can participate?

                    </h3>
                    <p class="collapse box1" id="num1">All university students irrespective of any course are eligible to apply.
                    </p>
                    <br />
                    <h3
                      data-parent="#accordion"
                      data-toggle="collapse"
                      class="box arrow1 questions"
                      href="#num2"
                      style="cursor: pointer; font-weight: 300; text-decoration: none; color:white"
                    >
                      <span style="vertical-align: sub"><i
                          class="material-icons prefix arrow-img1"
                        >play_arrow</i></span>What is the Registration fee for
                      hackathon?
                    </h3>
                    <p class="collapse box1" id="num2">Glad you asked.
                      <b>Its completely Free!!!</b></p>
                    <br />
                    {{!-- <h3
                      data-parent="#accordion"
                      data-toggle="collapse"
                      class="box arrow2 questions"
                      href="#num3"
                      style="cursor: pointer; font-weight: 300; text-decoration: none; color:white"
                    >
                      <span style="vertical-align: sub"><i
                          class="material-icons prefix arrow-img2"
                        >play_arrow</i></span>How does the application process
                      work?
                    </h3>
                    <p class="collapse box1 box" id="num3">We’re looking for
                      people who "do"! Folks who are passionate enough to work
                      on crazy world-changing ideas. We’ll get to know more
                      about your abilities from the past projects, GitHub
                      profile, participation/awards in other hackathons.
                    </p>
                    <br /> --}}
                    <h3
                      data-parent="#accordion"
                      data-toggle="collapse"
                      class="box arrow3 questions"
                      href="#num4"
                      style="cursor: pointer; font-weight: 300; text-decoration: none; color:white"
                    >
                      <span style="vertical-align: sub"><i
                          class="material-icons prefix arrow-img3"
                        >play_arrow</i></span>Can we apply as a team?

                    </h3>
                    <p class="collapse box1" id="num4">Yes! This hackathon is a
                      team competition. Most teams aim to have a mix of people
                      with both design and developer skills. You can have a
                      maximum of 3 members per team. If you don't have a team,
                      you can participate individually. We'll have team
                      formation at the time of hackathon.</p>
                    <br />
                    <h3
                      data-parent="#accordion"
                      data-toggle="collapse"
                      class="box arrow4 questions"
                      href="#num5"
                      style="cursor: pointer; font-weight: 300; text-decoration: none; color:white"
                    >
                      <span style="vertical-align: sub"><i
                          class="material-icons prefix arrow-img4"
                        >play_arrow</i></span>What do I get by attending
                      DotSlash?
                    </h3>
                    <p class="collapse box1" id="num5">Pretty much everything
                      from socializing with fellow hacker communities. And yeah
                      we’ll have prizes for 1st, 2nd, 3rd place. Most of all,
                      you will gain an unparalleled learning experience and
                      memories for a lifetime! You will also get a cool geeky
                      T-Shirt, Certificate of Participation and a bag full of
                      schwags.
                    </p>
                    <br />
                    <h3
                      data-parent="#accordion"
                      data-toggle="collapse"
                      class="box arrow8 questions"
                      href="#num9"
                      style="cursor: pointer; font-weight: 300; text-decoration: none; color:white text-decoration: none; color:white"
                    >
                      <span style="vertical-align: sub"><i
                          class="material-icons prefix arrow-img8"
                        >play_arrow</i></span>What will be the theme for
                      DotSlash?
                    </h3>
                    <p class="collapse box1" id="num9">Not to worry, you will be
                      provided with variety of theme options, once you get
                      selected.</p>
                    <br />
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    
                    <h3
                      data-parent="#accordion"
                      data-toggle="collapse"
                      class="box arrow9 questions"
                      href="#num10"
                      style="cursor: pointer; font-weight: 300; text-decoration: none; color:white"
                    >
                      <span style="vertical-align: sub"><i
                          class="material-icons prefix arrow-img9"
                        >play_arrow</i></span>What is the registration
                      procedure?

                    </h3>
                    <p class="collapse box1" id="num10">You have to apply
                      online. Once you are selected we will inform you about the
                      remaining procedure.</p>
                    <br />
                    <h3
                      data-parent="#accordion"
                      data-toggle="collapse"
                      class="box arrow10 questions"
                      href="#num11"
                      style="cursor: pointer; font-weight: 300; text-decoration: none; color:white"
                    >
                      <span style="vertical-align: sub"><i
                          class="material-icons prefix arrow-img10"
                        >play_arrow</i></span>What if I've never been to a
                      hackathon before?
                    </h3>
                    <p class="collapse box1" id="num11">Then we're so glad
                      DotSlash will be your first ever! It’s helpful to have
                      some programming or technical experience, but it’s not a
                      requirement. We’ll have talks, mentors and workshops to
                      help you with your project.</p>
                    <br />

                    <h3
                      data-parent="#accordion"
                      data-toggle="collapse"
                      class="box arrow12 questions"
                      href="#num13"
                      style="cursor: pointer; font-weight: 300; text-decoration: none; color:white"
                    >
                      <span style="vertical-align: sub"><i
                          class="material-icons prefix arrow-img12"
                        >play_arrow</i></span>What will be the mode of conduct
                      of hackathon?
                    </h3>
                    <p class="collapse box1" id="num13">Due to the current
                      pandemic situation, mode of conduct will be online this
                      year.</p>
                    <br />

                    <h3
                      data-parent="#accordion"
                      data-toggle="collapse"
                      class="box arrow12 questions"
                      href="#num14"
                      style="cursor: pointer; font-weight: 300; text-decoration: none; color:white"
                    >
                      <span style="vertical-align: sub"><i
                          class="material-icons prefix arrow-img12"
                        >play_arrow</i></span>Where can I find updates?
                    </h3>
                    <p class="collapse box1" id="num14">Follow us on 
                      <a href="https://www.instagram.com/hackatdotslash/"> Instagram <i class="fa fa-external-link" aria-hidden="true" style="margin-left: 2px;"></i></a> for all the updates. Also we will be reaching out to you via mail. To receive the updates through mail, kindly register for the hackathon.
                    </p>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /FAQS -->


        <!-- Contact -->
        <div id="contact" class="section">
          <!-- container -->
          <div class="container">
            <!-- row -->
            <div class="row">
              <!-- section title -->
              <div class="section-title">
                <h3 class="title"><span style="color: white">Contact &nbsp;</span><span
                    style="color: #bd0c0e;"
                  >Info</span>
                </h3>
              </div>
              <!-- /section title -->

              <!-- contact -->
              <div class="col-sm-4">
                <div class="contact">
                  <h3>Venue</h3>
                  <p>Your Humble Abode</p>
                </div>
              </div>
              <!-- /contact -->

              <!-- contact -->
              <div class="col-sm-4">
                <div class="contact">
                  <h3>Email</h3>
                  <a
                    href="mailto:keshav@hackdotslash.co.in"
                  >keshav@hackdotslash.co.in</a>
                </div>
              </div>
              <!-- /contact -->

              <!-- contact -->
              <div class="col-sm-4">
                <div class="contact">
                  <h3>Mobile</h3>
                  <a href="tel:+91 97129 89101">&nbsp;&nbsp;<b>+91 89508 20378</b>
                    - Keshav Gautam</a><br />
                  <a href="tel:+91 70166 05695"><b>+91 79906 30623</b>
                    - Gaurav Kumar</a>
                </div>
              </div>
              <!-- /contact -->
            </div>
            <!-- /row -->
          </div>
          <!-- /container -->

        </div>
        <!-- /Contact -->
      </div>
      <!-- Footer -->
      <footer id="footer">
        <!-- container -->
        <div class="wave_box container">
          <!-- row -->
          <div class="row">
            <!-- footer logo -->
            <div class="col-md-4">
              <div class="footer-brand">
                <a class="logo" href="#home">
                  <img
                    class="logo-img"
                    src="./img/2022/new_logo.png"
                    alt="logo"
                    style="max-height: 50px; margin-right: 7px"
                  /> 
                <span>Dot</span><span>Slash</span><span> 5.0</span>
                </a>
              </div>
            </div>
            <!-- /footer logo -->

            <!-- contact social -->
            <div class="col-md-8">
              <div class="contact-social">
                <a
                  href="https://www.facebook.com/hackatdotslash/"
                  rel="noopener noreferrer"
                  target="_blank"
                ><i class="fa fa-facebook" style="padding-top: 10px;"></i></a>
                <a
                  href="https://twitter.com/hackatdotslash"
                  rel="noopener noreferrer"
                  target="_blank"
                ><i class="fa fa-twitter" style="padding-top: 10px;"></i></a>
                <a
                  href="https://www.instagram.com/hackatdotslash/"
                  target="_blank"
                ><i class="fa fa-instagram" style="padding-top: 10px;"></i></a>
                <a
                  href="https://www.linkedin.com/company/hackatdotslash/"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <i class="fa fa-linkedin" style="padding-top: 10px;"></i>
                </a>
                <a href="mailto:keshav@hackdotslash.co.in" target="_blank"><i
                    class="fa fa-envelope"
                    style="padding-top: 10px;"
                  ></i></a>
              </div>
            </div>
            <!-- /contact social -->
            <div class="coc">
              <a href="/coc">Code of Conduct</a>
            </div>
            <div class="copyright">
              ©2022 DOTSLASH
            </div>
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </footer>
      <!-- /Footer -->
    </div>
    <!-- jQuery Plugins -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"
    ></script>
    <script src="./js/countdown.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"
    ></script>
    <script src="./js/chatroom.js"></script>
    <script src="js/main.js"></script>
    <script>
      for (let i = 0; i < 13; i++) { $('.arrow' + i).on("click", function
      (event) { $('.arrow-img' + i).toggleClass('rotate'); }); }
    </script>
    <script defer async src="https://apply.devfolio.co/v2/sdk.js"></script>
  </body>
</html>