<!DOCTYPE HTML>
<html lang="en" translate="no">

  <head>
    <meta charset="utf-8" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="HackDotslash5.0" />
    <meta property="og:title" content="Dotslash Hackathon: Root To Ideas" />
    <meta
      property="og:description"
      content="DotSlash​ is a 30 hours long hackathon which is completely managed by students of SVNIT, Surat. It is a
										platform for developers around the world to use their innovative skills to produce something new and
										useful for the society."
    />
    <meta
      name="Description"
      content="DotSlash​ is a 30 hours long hackathon which is completely managed by students of SVNIT, Surat. It is a
														platform for developers around the world to use their innovative skills to produce something new and
														useful for the society."
    />
    <meta property="og:image:secure_url" content="/img/logo_only.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:url" content="https://www.hackdotslash.co.in" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>DotSlash</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo_only1.png" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800i|Amaranth:700i|Kanit:700i|Lato:900i|Lato|Source+Sans+Pro:900i"
      rel="stylesheet"
    />

    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/owl.theme.default.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/meteor.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="./css/herostyles.css" />
    <link rel="stylesheet" href="./css/background.css" />
    <link rel="stylesheet" href="./css/timeline.css" />
    <link rel="stylesheet" href="./css/prizes.css" />
    <link rel="stylesheet" href="./css/animated.min.css" />
  </head>

  <body>
    <div style="overflow-x: hidden;">
      <!-- Hero -->
        <!-- Header -->
        <header id="header" class="transparent-navbar">
          <!-- container -->
          <div class="container">
            <!-- navbar header -->
            <div class="navbar-header">
              <!-- Logo -->
              <div class="navbar-brand">
                <a class="logo" href="/">
                  <img
                    class="logo-alt-img"
                    src="./img/2022/new_logo.png"
                    alt="logo"
                    style="max-height: 55px;"
                  />
                   <img
                    class="logo-img"
                    src="./img/2022/new_logo.png"
                    alt="logo"
                    style="max-height: 55px;"
                  />

                </a>
              </div>
              <!-- /Logo -->

              <!-- Mobile toggle -->
              <button class="navbar-toggle">
              <svg class="menu-icon"fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z"/></svg>

              </button>
              <!-- /Mobile toggle -->
            </div>
            <!-- /navbar header -->

            <!-- Navigation -->
            <nav id="nav">
              <ul class="main-nav nav navbar-nav navbar-right">
                <li><a href="/#home">Home</a></li>
                <li><a href="/#about">About</a></li>
                {{!-- <li><a href="#schedule">Schedule</a></li> --}}
                <li><a href="#">Prizes</a></li>
                <li><a href="/#sponsors">Sponsors</a></li>
                <li><a href="/#faq">FAQs</a></li>
                <li><a href="/#contact">Contact</a></li>

              </ul>
            </nav>
            <!-- /Navigation -->
          </div>
          <!-- /container -->
        </header>
        





       <div id="prizes" class="section" style="margin-top: 100px;">
        
        <h3 class="title"><span style="color: white">Prizes</span></h3>
        <div class="prizes-container">
          <div class="overall-title">
            <h4><span># </span>Overall</h4>
          </div>
          <div class="overall-prizes show-flexbox">
            <div class="prize-info silver">
              <img src="./img/prizes/first.svg" alt="" />
              <div class="details">
                <h2>1st Prize</h2>
                <h3>Coming soon!</h3>
              </div>
            </div>
            <div class="prize-info gold">
              <img src="./img/prizes/second.svg" alt="" />
              <div class="details">
                <h2>2nd Prize</h2>
                <h3>Coming soon!</h3>
              </div>
            </div>
            <div class="prize-info bronze">
              <img src="./img/prizes/third.svg" alt="" />
              <div class="details">
                <h2>3rd Prize</h2>
                <h3>Coming soon!</h3>
              </div>
            </div>
          </div>
          <div class="sponsored-title">
            <h4><span># </span>Sponsored Tracks</h4>
          </div>
          <div class="sponsered-tracks show-grid">
            <div class="flip-card-container">
              <div class="flip-card">
                <div class="card-front"> 
                  <img src="./img/prizes/polygon.png" alt="">
                  <h4>Best hack built with Ethereum</h4>
                </div>

                <div class="card-back">
                  <h4>
                    <p>10000 INR for the best hack built on Ethereum.</p>
                    <p>If the team integrates Polygon into their hacks, the prize money will be raised to 15000 INR.</p>
                    <p>Eligibility for internship/full-time role interviews and seed funding of upto 5000 USD.</p>
                  </h4>
                </div>

              </div>
            </div>
            <div class="flip-card-container">
              <div class="flip-card">
                <div class="card-front"> 
                  <img id="tezos"src="./img/prizes/tezos.png" alt="">
                  <h4>Best Dapp built on Tezos</h4>
                </div>

                <div class="card-back">
                  <h4>
                    <p>20000 INR for best Dapp built on Tezos.</p>
                    <p>Continuity grant opportunity up to 5,000 USD for an outstanding project.</p>
                    <p>Every valid submission made in the Tezos track will be rewarded with exclusive Schwag Kits.</p>
                  </h4>
                </div>

              </div>
            </div>
            <div class="flip-card-container">
              <div class="flip-card">
                <div class="card-front"> 
                  <img id="celo" src="./img/prizes/celo.png" alt="">
                  <h4>Best Dapp built on Celo</h4>
                </div>

                <div class="card-back">
                  <h4>20000 INR for best Dapp built on Celo.</h4>
                </div>

              </div>
            </div>
            <div class="flip-card-container">
              <div class="flip-card">
                <div class="card-front"> 
                  <img src="./img/prizes/filecoin.png" alt="">
                  <h4>Best use of IPFS and/or Filecoin</h4>
                </div>

                <div class="card-back">
                  <h4>20000 INR for best use of IPFS and/or Filecoin</h4>
                </div>
              </div>
            </div>

            <div class="flip-card-container">
              <div class="flip-card">
                <div class="card-front"> 
                  <img id="tezos"src="./img/prizes/symblAI.png" alt="">
                  <h4>Build with SymblAI API</h4>
                </div>

                <div class="card-back">
                  <h4>$100 USD Amazon Gift Card + Symbl.ai Tshirt for the winning team if they use Symbl.ai</h4>
                </div>
              </div>
            </div>

            <div class="flip-card-container">
              <div class="flip-card">
                <div class="card-front"> 
                  <img id="tezos"src="./img/prizes/onecdot.png" alt="">
                  <h4>Best app built on Onec-NaaS</h4>
                </div>

                <div class="card-back">
                  <h4>
                    <p>100$ USDT tokens on Polygon Network, worth ~7500 INR for the best application built on Onec-NaaS (Teams can cash it out whenever they want)</p>
                    <p>5 $MATIC testnet tokens and close mentorship to teams building on the Onec-NaaS</p>
                  </h4>
                </div>
              </div>
            </div>
 
          </div>

          <div class="swags-title">
            <h4><span># </span>Swag Kit <span style="color: #00FFA4; opacity: 1">x</span> 50 Teams</h4>
          </div>
          <div class="swags-kit show-grid">
            <div class="flip-card-container fun-prize-card">
              <img src="./img/prizes/tshirt.png" alt="">
                <h4>
                  DotSlash Tshirt
                </h4>
            </div>
            <div class="flip-card-container fun-prize-card">
              <img src="./img/prizes/giphy.gif" alt="" style="width: 64%;">
                <h4>
                  Stickers & Goodies
                </h4>
            </div>
          </div>

          <div class="swags-title fun-prizes">
            <h4><span># </span>Fun Prizes</h4>
          </div>
          <div class="swags-kit show-grid">
            <div class="flip-card-container fun-prize-card">
              <img src="./img/prizes/github-tee.png" alt="">
                <h4>
                  Github Tshirt
                </h4>
            </div>
             <div class="flip-card-container fun-prize-card">
              <img src="./img/prizes/octocat.png" alt="">
                <h4>
                  Github Stickers & Octocat Figurine
                </h4>
            </div>
          </div>

          <div class="swags-title prizes-for-all">
            <h4><span># </span>Prizes for All</h4>
          </div>
          <div class="swags-kit show-grid">
            <div class="flip-card-container for-all">
             <h4>
                  <p>Replit 1 month of Hacker Plan</p>
                  <p>Echo3D 1-month FREE access to all Business Plan features</p>
                  <p>Symbl.ai 3000 Minutes/credits worth $150 USD </p>
                  <p>InterviewCake free course access</p>
                  <p>Voiceflow Professional License</p>
                  <p>GeeksForGeeks Rs 300 discount coupon on all courses</p>
                </h4>
            </div>
          </div>
          <p style="margin-top: 80px;"> Much More Exciting Prizes Coming Soon...</p>
        </div>
      </div>
      
      

      <!-- Footer -->
      <footer id="footer">
        <!-- container -->
        <div class="wave_box container">
          <!-- row -->
          <div class="row">
            <!-- footer logo -->
            <div class="col-md-4">
              <div class="footer-brand">
                <a class="logo" href="/">
                  <img
                    class="logo-img"
                    src="./img/2022/new_logo.png"
                    alt="logo"
                    style="max-height: 50px; margin-right: 7px"
                  /> 
                <span>Dot</span><span>Slash</span><span> 5.0</span>
                </a>
              </div>
            </div>
            <!-- /footer logo -->

            <!-- contact social -->
            <div class="col-md-8">
              <div class="contact-social">
                <a
                  href="https://www.facebook.com/hackatdotslash/"
                  rel="noopener noreferrer"
                  target="_blank"
                ><i class="fa fa-facebook" style="padding-top: 10px;"></i></a>
                <a
                  href="https://twitter.com/hackatdotslash"
                  rel="noopener noreferrer"
                  target="_blank"
                ><i class="fa fa-twitter" style="padding-top: 10px;"></i></a>
                <a
                  href="https://www.instagram.com/hackatdotslash/"
                  target="_blank"
                ><i class="fa fa-instagram" style="padding-top: 10px;"></i></a>
                <a
                  href="https://www.linkedin.com/company/hackatdotslash/"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <i class="fa fa-linkedin" style="padding-top: 10px;"></i>
                </a>
                <a href="mailto:keshav@hackdotslash.co.in" target="_blank"><i
                    class="fa fa-envelope"
                    style="padding-top: 10px;"
                  ></i></a>
              </div>
            </div>
            <!-- /contact social -->
            <div class="coc">
              <a href="/coc">Code of Conduct</a>
            </div>
            <div class="copyright">
              ©2022 DOTSLASH
            </div>
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </footer>
      <!-- /Footer -->
    </div>
    <!-- jQuery Plugins -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    {{!-- <script src="js/prizes.js"></script> --}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"
    ></script>
    <script src="./js/countdown.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"
    ></script>
    <script src="./js/chatroom.js"></script>
    <script src="js/main.js"></script>
    <script>
      for (let i = 0; i < 13; i++) { $('.arrow' + i).on("click", function
      (event) { $('.arrow-img' + i).toggleClass('rotate'); }); }
    </script>
    <script defer async src="https://apply.devfolio.co/v2/sdk.js"></script>
  </body>
</html>