.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1758px 827px #fff, 345px 735px #fff, 568px 444px #fff,
    639px 237px #fff, 1893px 560px #fff, 1799px 184px #fff, 405px 910px #fff,
    1059px 959px #fff, 547px 169px #fff, 1717px 790px #fff, 1580px 838px #fff,
    983px 534px #fff, 1700px 795px #fff, 95px 623px #fff, 861px 518px #fff,
    430px 266px #fff, 1674px 162px #fff, 714px 881px #fff, 506px 375px #fff,
    66px 398px #fff, 1755px 243px #fff, 109px 918px #fff, 1632px 731px #fff,
    250px 248px #fff, 511px 505px #fff, 447px 792px #fff, 434px 148px #fff,
    1302px 66px #fff, 1424px 716px #fff, 982px 975px #fff, 439px 417px #fff,
    212px 995px #fff, 1294px 145px #fff, 1413px 123px #fff, 1512px 340px #fff,
    929px 25px #fff, 813px 831px #fff, 1694px 458px #fff, 1058px 958px #fff,
    1906px 57px #fff, 1527px 127px #fff, 1785px 400px #fff, 329px 58px #fff,
    1722px 684px #fff, 1900px 838px #fff, 15px 661px #fff, 1842px 947px #fff,
    1347px 655px #fff, 901px 130px #fff, 1834px 654px #fff, 1751px 365px #fff,
    1912px 991px #fff, 979px 907px #fff, 1092px 791px #fff, 1812px 221px #fff,
    958px 313px #fff, 1319px 40px #fff, 1010px 768px #fff, 1054px 188px #fff,
    659px 939px #fff, 541px 313px #fff, 326px 678px #fff, 1381px 624px #fff,
    1206px 533px #fff, 72px 81px #fff, 931px 164px #fff, 739px 32px #fff,
    1649px 431px #fff, 1622px 732px #fff, 1201px 200px #fff, 384px 376px #fff,
    424px 125px #fff, 131px 859px #fff, 1438px 246px #fff, 1040px 128px #fff,
    1008px 214px #fff, 1625px 624px #fff, 1783px 114px #fff, 1255px 936px #fff,
    1619px 54px #fff, 1725px 267px #fff, 1218px 87px #fff, 1029px 29px #fff,
    1402px 9px #fff, 128px 374px #fff, 909px 11px #fff, 342px 296px #fff,
    293px 99px #fff, 4px 239px #fff, 284px 19px #fff, 20px 187px #fff,
    359px 465px #fff, 1114px 575px #fff, 1624px 825px #fff, 704px 515px #fff,
    547px 317px #fff, 1481px 192px #fff, 1505px 906px #fff, 397px 170px #fff,
    1885px 836px #fff, 1111px 746px #fff, 74px 508px #fff, 246px 551px #fff,
    104px 253px #fff, 1305px 631px #fff, 1108px 540px #fff, 286px 215px #fff,
    1805px 679px #fff, 1025px 614px #fff, 1834px 888px #fff, 544px 106px #fff,
    1699px 986px #fff, 966px 27px #fff, 1857px 300px #fff, 1919px 248px #fff,
    1493px 773px #fff, 1018px 984px #fff, 190px 786px #fff, 341px 395px #fff,
    316px 782px #fff, 187px 552px #fff, 7px 349px #fff, 675px 341px #fff,
    1548px 815px #fff, 157px 286px #fff, 86px 670px #fff, 780px 962px #fff,
    139px 71px #fff, 1887px 187px #fff, 1879px 460px #fff, 411px 687px #fff,
    539px 922px #fff, 1683px 10px #fff, 845px 481px #fff, 1368px 139px #fff,
    1436px 248px #fff, 1352px 302px #fff, 1640px 739px #fff, 1426px 406px #fff,
    1708px 707px #fff, 481px 568px #fff, 14px 218px #fff, 743px 328px #fff,
    1696px 185px #fff, 616px 216px #fff, 1286px 852px #fff, 1656px 351px #fff,
    1821px 775px #fff, 513px 226px #fff, 549px 488px #fff, 218px 387px #fff,
    190px 29px #fff, 472px 705px #fff, 840px 250px #fff, 366px 49px #fff,
    1859px 850px #fff, 1302px 323px #fff, 433px 475px #fff, 1570px 154px #fff,
    1199px 774px #fff, 1126px 366px #fff, 1179px 261px #fff, 1857px 429px #fff,
    141px 433px #fff, 419px 215px #fff, 231px 140px #fff, 505px 918px #fff,
    1040px 67px #fff, 658px 248px #fff, 1430px 943px #fff, 873px 673px #fff,
    1751px 944px #fff, 317px 63px #fff, 860px 881px #fff, 561px 534px #fff,
    1859px 217px #fff, 1459px 59px #fff, 1912px 662px #fff, 1488px 91px #fff,
    816px 602px #fff, 1362px 517px #fff, 115px 420px #fff, 562px 464px #fff,
    921px 547px #fff, 728px 157px #fff, 38px 743px #fff, 1334px 94px #fff,
    365px 977px #fff, 1192px 341px #fff, 1236px 303px #fff, 1418px 17px #fff,
    605px 159px #fff, 1543px 516px #fff, 1185px 545px #fff, 51px 828px #fff,
    109px 836px #fff, 282px 425px #fff, 1169px 282px #fff, 477px 37px #fff,
    721px 826px #fff, 192px 689px #fff, 483px 367px #fff, 1347px 493px #fff,
    1007px 557px #fff, 1477px 832px #fff, 248px 906px #fff, 144px 825px #fff,
    1482px 737px #fff, 1313px 804px #fff, 1820px 814px #fff, 1637px 916px #fff,
    1420px 452px #fff, 24px 435px #fff, 1589px 642px #fff, 1565px 383px #fff,
    1659px 699px #fff, 357px 625px #fff, 1368px 809px #fff, 889px 883px #fff,
    567px 298px #fff, 440px 669px #fff, 1523px 256px #fff, 1887px 531px #fff,
    686px 212px #fff, 1872px 233px #fff, 455px 943px #fff, 1245px 61px #fff,
    601px 74px #fff, 539px 53px #fff, 1770px 26px #fff, 1711px 730px #fff,
    1742px 687px #fff, 1895px 740px #fff, 582px 148px #fff, 1001px 953px #fff,
    1828px 53px #fff, 868px 698px #fff, 808px 407px #fff, 662px 202px #fff,
    324px 729px #fff, 1204px 42px #fff, 1529px 609px #fff, 760px 83px #fff,
    1917px 463px #fff, 1019px 722px #fff, 54px 883px #fff, 213px 760px #fff,
    1149px 159px #fff, 1051px 91px #fff, 30px 44px #fff, 256px 400px #fff,
    852px 52px #fff, 1042px 138px #fff, 1021px 869px #fff, 327px 85px #fff,
    508px 543px #fff, 701px 754px #fff, 1507px 999px #fff, 1806px 8px #fff,
    603px 318px #fff, 915px 441px #fff, 605px 342px #fff, 1870px 930px #fff,
    1506px 773px #fff, 1528px 996px #fff, 1789px 965px #fff, 693px 631px #fff,
    301px 40px #fff, 1628px 361px #fff, 1185px 856px #fff, 1151px 65px #fff,
    90px 550px #fff, 323px 946px #fff, 1448px 954px #fff, 1026px 868px #fff,
    398px 434px #fff, 759px 568px #fff, 288px 83px #fff, 10px 385px #fff,
    256px 732px #fff, 204px 364px #fff, 1740px 715px #fff, 80px 189px #fff,
    1774px 769px #fff, 386px 121px #fff, 455px 389px #fff, 26px 545px #fff,
    244px 198px #fff, 571px 883px #fff, 587px 638px #fff, 1826px 319px #fff,
    1548px 588px #fff, 11px 110px #fff, 1079px 658px #fff, 322px 701px #fff,
    1595px 662px #fff, 1251px 579px #fff, 192px 156px #fff, 1454px 620px #fff,
    1489px 17px #fff;
}
.meteor-1 {
  position: absolute;
  top: 282px;
  left: 15%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.7s linear infinite;
}
.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-2 {
  position: absolute;
  top: 131px;
  left: 30%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.3s linear infinite;
}
.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-3 {
  position: absolute;
  top: 252px;
  left: 91%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.5s linear infinite;
}
.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-4 {
  position: absolute;
  top: 235px;
  left: 74%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.6s linear infinite;
}
.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-5 {
  position: absolute;
  top: 283px;
  left: 99%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.3s linear infinite;
}
.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-6 {
  position: absolute;
  top: 87px;
  left: 34%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.1s linear infinite;
}
.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-7 {
  position: absolute;
  top: 205px;
  left: 45%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.1s linear infinite;
}
.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-8 {
  position: absolute;
  top: 106px;
  left: 68%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.2s linear infinite;
}
.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-9 {
  position: absolute;
  top: 149px;
  left: 72%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.7s linear infinite;
}
.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-10 {
  position: absolute;
  top: 126px;
  left: 73%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.4s linear infinite;
}
.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-11 {
  position: absolute;
  top: 167px;
  left: 66%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.4s linear infinite;
}
.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-12 {
  position: absolute;
  top: 257px;
  left: 64%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8s linear infinite;
}
.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-13 {
  position: absolute;
  top: 175px;
  left: 71%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.4s linear infinite;
}
.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-14 {
  position: absolute;
  top: 286px;
  left: 74%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.7s linear infinite;
}
.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-15 {
  position: absolute;
  top: 175px;
  left: 83%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.2s linear infinite;
}
.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
